/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/composer
/vendor/dnoegel
/vendor/doctrine
/vendor/dragonmantank
/vendor/egulias
/vendor/facade
/vendor/fideloper
/vendor/filp
/vendor/fzaninotto
/vendor/hamcrest
/vendor/jakub-onderka
/vendor/laravel
/vendor/league
/vendor/mockery
/vendor/monolog
/vendor/myclabs
/vendor/nesbot
/vendor/nikic
/vendor/nunomaduro
/vendor/opsis
/vendor/paragonie
/vendor/phar-io
/vendor/phpdocumentor
/vendor/phpoption
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ramsey
/vendor/scrivo
/vendor/sebastian
/vendor/swiftmailer
/vendor/symfony
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/webmozart
/vendor/bin
/vendor/autoload.php






































.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
