.top-nav-collapse {
    background-color: #FFF !important;
}

.navbar:not(.top-nav-collapse) {
    background:#FFF !important;
}

@media (max-width: 991px) {
.navbar:not(.top-nav-collapse) {
    background: #FFF !important;
}
}