
body{
    font-family: PT Sans !important;
    letter-spacing: 0.4px !important;
    font-weight:lighter !important;
}

ul{
    font-family: GFS Didot, sans-serif !important;
    font-size: 1.1em !important;
    font-weight:lighter !important;
}

h1 {
    font-family: PT Sans !important;
    font-size: 5em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
    line-height: 6rem !important;
    margin-bottom: 1rem !important;
    color: $blue !important;
    }
    
    h2 {
    font-family: PT Sans !important;
    font-size: 4em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
    line-height: 5rem !important;
    margin-bottom: 1rem !important;
    color: $blue !important;
    }
    
    h3 {
    font-family: PT Sans !important;
    font-size: 3em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
    line-height: 4rem !important;
    margin-bottom: 1rem !important;
    color: $blue !important;

    }
    
    h4 {
    font-family: PT Sans !important;
    font-size: 2em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
    line-height: 3rem !important;
    margin-bottom: 0.5rem !important;
    color: $blue !important;

    }
    
    h5 {
    font-family: PT Sans !important;
    font-size: 2em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
    line-height: 2rem !important;
    margin-bottom: 0.5rem !important;
    color: $blue !important;

    }
    
    h6 {
    font-family: PT Sans !important;
    font-size: 1.5em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
    line-height: 2.3rem !important;
    margin-bottom: 0.5rem !important;
    color: $blue !important;

    }
    
    p {
    font-family: GFS Didot !important;
    font-size: 1.2em !important;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: 0em !important;
    line-height: 3.3rem !important;
    margin-bottom: 0.2rem !important;
    color: $grey !important;
    }
    
    
    
    @media screen and (max-width: 720px) {
    
        h1 {
            font-family: PT Sans !important;
            font-size: 5em !important;
            font-style: normal !important;
            font-weight: 700 !important;
            letter-spacing: 0em !important;
            line-height: 6rem !important;
            margin-bottom: 1rem !important;
            color: $blue !important;
            }
            
            h2 {
            font-family: PT Sans !important;
            font-size: 4em !important;
            font-style: normal !important;
            font-weight: 700 !important;
            letter-spacing: 0em !important;
            line-height: 5rem !important;
            margin-bottom: 1rem !important;
            color: $blue !important;
            }
            
            h3 {
            font-family: PT Sans !important;
            font-size: 3em !important;
            font-style: normal !important;
            font-weight: 700 !important;
            letter-spacing: 0em !important;
            line-height: 4rem !important;
            margin-bottom: 1rem !important;
            color: $blue !important;
        
            }
            
            h4 {
            font-family: PT Sans !important;
            font-size: 2em !important;
            font-style: normal !important;
            font-weight: 700 !important;
            letter-spacing: 0em !important;
            line-height: 3rem !important;
            margin-bottom: 0.5rem !important;
            color: $blue !important;
        
            }
            
            h5 {
            font-family: PT Sans !important;
            font-size: 2em !important;
            font-style: normal !important;
            font-weight: 700 !important;
            letter-spacing: 0em !important;
            line-height: 2rem !important;
            margin-bottom: 0.5rem !important;
            color: $blue !important;
        
            }
            
            h6 {
            font-family: PT Sans !important;
            font-size: 1.5em !important;
            font-style: normal !important;
            font-weight: 700 !important;
            letter-spacing: 0em !important;
            line-height: 2.3rem !important;
            margin-bottom: 0.5rem !important;
            color: $blue !important;
        
            }    
    p {
    font-family: GFS Didot !important;
    font-size: 1.2em !important;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: 0em !important;
    line-height: 2.5rem !important;
    margin-bottom: 0.2rem !important;
    color: $blue !important;

    }
    }